.doctorslogs {
  padding: 16px;
}

.profile_image {
  background-image: url("../assets/images/doc4.svg");
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  width: 375px;
  height: 340px;
}

.profile_back {
  margin-top: 20px;
  margin-right: 18vw;
  margin-left: 2vw;
}

.profile_details {
  padding: 1px 24px 24px;
  border: 3px solid;
  width: 321px;
  border-color:#e5e5e5;
  border-radius: 8px;
}
.profile_name h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;

}

.profile_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
width: 327px;
  color: #c4c4c4;
}

.profile_contact{
    display: flex;
    flex-direction: row;
    padding-top: 16px ;
}

.profile_message{
    margin-right: 16px;
}

@media (max-width: 426px){
  .doctorslogs{
    padding-left: 24px;
    padding-top: 0px;
  }

  .profile_back{
    margin-top: 50px;
    margin-right: 78vw;
    margin-left: 8vw;
  }

  .profile_image{
    width: 103.5vw;

  }
  .profile_details{
    width: 91.4vw;
  }

  .message_button{
    width: 16vw;
  }

  .appointment_button{
    width: 72vw;
  }

  .profile_text{
    width: 96vw;
  }


}