.navbar{
    display: flex;
    flex-direction: row;
}
  .round {
    position: absolute;
    width: 100%;
    border-radius: 15px;
    border: 1px #A0A4A8 solid;
    padding: 12px 5px 12px 25px;
    top: 0;
    left: 0;
    z-index: 5;
    font-family: FontAwesome;
     font-style: normal;
}

.search {
    position: relative;
    width: 350px;
    height: 40px;
}

.leftnav{
    margin-right: 46vw;
}


.rightnav{
 display: flex;
 flex-direction: row;
}

.bell{
    display: flex;
    flex-direction: row;
    margin-right: 16px;
}

.bell .badge {
    position: absolute;
    padding: 2px 5px 0px 5px;
    border-radius: 50%;
    background-color: #FF6760;
    margin-left: 15px;
   
  }
