* {
  font-family: Lato;
}

body {
  font-family: Lato;
}

.navli {
  margin-bottom: 28px;
}

.navli a{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #52575c;
  text-decoration: none;
}

.App-logo {
  margin-top: 24px;
  margin-bottom: 32px;
}

.App-desc {
  color: #a0a4a8;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.border-line{
  border-bottom: 1px solid #E8E8E8;
  width:25vw;
  margin-bottom: 22px;
}

.border-divider{
  border-right: 1px solid #E8E8E8;
  height: 100vh;
 margin-left: -50px;
}

.App-Icon{
  margin-right: 12px;
}

@media (max-width: 426px){
.main_sidebar{
  display: none;
}

.main_page_div{
  padding-top: 0px!important;
}
}